
.ipynb_checkpoints/round2-checkpoint.ipynb
misc/.ipynb_checkpoints/DesMoinesBasinGages-checkpoint.txt
misc/.ipynb_checkpoints/flowFFT-checkpoint.ipynb
.ipynb_checkpoints/spotiflood-checkpoint.ipynb
.ipynb_checkpoints/raccoon daily running nitrate 1974-2016-checkpoint.csv
.ipynb_checkpoints/spotiflood-checkpoint.ipynb
.ipynb_checkpoints/spotiflood-checkpoint.ipynb
