
.ipynb_checkpoints/round2-checkpoint.ipynb
misc/.ipynb_checkpoints/DesMoinesBasinGages-checkpoint.txt
misc/.ipynb_checkpoints/flowFFT-checkpoint.ipynb
.ipynb_checkpoints/spotiflood-checkpoint.ipynb
.ipynb_checkpoints/raccoon daily running nitrate 1974-2016-checkpoint.csv
.ipynb_checkpoints/spotiflood-checkpoint.ipynb
.ipynb_checkpoints/spotiflood-checkpoint.ipynb
music/mid/three-part-synth.mid
music/mid/three-part-synth-95-95-95-123.mid
music/mid/three-part-synth-92-92-92-123.mid
music/mid/three-part-synth-90-90-90-117.mid
music/mid/three-part-synth-90-90-90-115.mid
music/mid/three-part-synth-9.mid
music/mid/three-part-synth-87-87-87-118.mid
music/mid/three-part-synth-82-82-82-118.mid
music/mid/three-part-synth-8.mid
music/mid/three-part-synth-7.mid
music/mid/three-part-synth-7-7-7.mid
music/mid/three-part-synth-6.mid
music/mid/three-part-synth-5.mid
music/mid/three-part-synth-4.mid
music/mid/three-part-synth-3.mid
music/mid/three-part-synth-2.mid
music/mid/three-part-synth-14.mid
music/mid/three-part-synth-13.mid
music/mid/three-part-synth-12.mid
music/mid/three-part-synth-11.mid
music/mid/three-part-synth-11-11-12-12.mid
music/mid/three-part-synth-10.mid
music/mid/for-muhammed.mid
music/mid/for-muhammed-piano.mid
music/mid/for-muhammed-piano-2.mid
